<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        Secim edin:
        <select name="select" id=""> <br>
            <option value="letter">Letter counter</option>
            <option value="word">Word counter</option>
        </select>
        <input type="text" name="words">
        <button type="submit">OK</button> <br>
        {{data}}

    </form>
</body>
</html>